<div class="custom-container">

	<body class="text-center">
		<form class="form-signin"  #f="ngForm" (ngSubmit)="onLogin(f?.value)">
			<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="text" id="inputUsername" name="username" ngModel class="form-control" placeholder="Username" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password" required>
			<!-- <div class="checkbox mb-3">
			<label>
			<input type="checkbox" value="remember-me"> Remember me
			</label>
			</div> -->
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
		</form>
	</body>
</div>