@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'theme.scss';

@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';


.container {
    max-width: 100%;
}

.custom-container {
    max-width: 1140px;
    margin: auto;
}

.toast-top-right {
    margin-top: 50px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.my-theme {
    // use our theme with angular-material-theme mixin
    @include angular-material-theme($my-theme);
  }