
<div class="custom-container">
	<button class="btn btn-primary" routerLink="/admin/users/form">Create new user</button>

	<data-table
		[items] = "items"
		[itemCount] = "itemsCount"
		(reload) = "reloadItems($event)"
        [substituteRows]="false"
		noDataMessage="No users found"
		[pagination]="false"
	>

		<data-table-column
			[property] = "'firstName'"
			[header] = "'First Name'"
			[sortable] = "true"
			[resizable] = "true"
		>
		</data-table-column>


		<data-table-column
			[property] = "'lastName'"
			[header] = "'Last Name'"
			[sortable] = "true"
			[resizable] = "true"
		>
		</data-table-column>

		<data-table-column
			[property] = "'bDate'"
			[header] = "'Birth date'"
			[sortable] = "true"
			[resizable] = "true"
		>
			<ng-template #dataTableCell let-item="item">
				{{ item.bDate | date: 'dd-MM-yyyy'}}
			</ng-template>
		</data-table-column>

		<data-table-column
			[property] = "'email'"
			[header] = "'Email'"
			[sortable] = "true"
			[resizable] = "true"
		>
		</data-table-column>

		<data-table-column
			[property] = "'account.username'"
			[header] = "'Username'"
			[sortable] = "true"
			[resizable] = "true"
		>
			<ng-template #dataTableCell let-item="item">
				{{ item.account?.username}}
			</ng-template>
		</data-table-column>

		<data-table-column
			[property] = "'role.roleLabel'"
			[header] = "'Role'"
			[sortable] = "true"
			[resizable] = "true"
		>
			<ng-template #dataTableCell let-item="item">
				{{ item.role?.roleLabel}}
			</ng-template>
		</data-table-column>

		<data-table-column>
			<ng-template #dataTableCell let-item="item">
				<a [routerLink]="['/admin/users/', item.id]">
					<i class="fa fa-edit"></i>
				</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a style="color:red" (click)="deleteUser(item.id)">
					<i class="fa fa-remove"></i>
				</a>
			</ng-template>
		</data-table-column>

	</data-table>
</div>